@tailwind base;
@tailwind components;
@tailwind utilities;

/* Diia Design System Base */
:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #67C3F3;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'e-Ukraine', 'Inter', sans-serif;
}
